<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>


<form action="/pessoa/salvar" method="post" th:object="${pessoa}" enctype="multipart/form-data">
<input type="hidden" th:field="*{codigo}">

Nome: <input type="text" th:field="*{nome}"> <br>
Time: <input type="text" th:field="*{time}"> <br>
Imagem: <input type="file" name="imagem"> <br>
Data de Nascimento <input type="text" th:field="*{dataNascimento}"> <br>

<input type="submit" value="Cadastrar">



</form>


<script src="/js/bootstrap.min.js"> </script>







</body>
</html>