<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="/pessoa/salvar" method="POST" th:object="${pessoa}"
		enctype="multipart/form-data">
		
		<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
		
			<span th:text="${mensagem}"> sddssddfdffdfd</span>
		
		</div>


		<input type="hidden" th:field="*{codigo}"> Nome: <input
			type="text" th:field="*{nome}"> <br> Time: <input
			type="text" th:field="*{time}"> <br> Selecione uma
		foto: <input type="file" name="imagem"> <input type="submit"
			value="Cadastrar">

	</form>

</body>
</html>